<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <script src="https://kit.fontawesome.com/2002d7b62d.js" crossorigin="anonymous"></script>
    <title>To-Do-App</title>
    <style>
        .container{
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>To-Do-List<i class="fas fa-star" style="color: rgb(187, 187, 37);"></i></h3>
            </div>
            <div class="col-md-8">
                <table class="table table-responsive">
                    <thead class="thead-inverse">
                        <tr>
                            <th>Task</th>
                            <th>Added on</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for content in tasks %}
                                <tr>
                                    <td scope="row">{{content.task}}</td>
                                    <td>{{content.dateCreated.date()}}</td>
                                    <td>
                                        <a href="/delete/{{content.id}}" class="btn btn-danger">Delete</a>
                                        <a href="/update/{{content.id}}" class="btn btn-info">Update</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
            <div class="col-md-8">
                <form action="/" method="POST">
                    <div class="form-group">
                      <label for="">Task</label>
                      <input type="text" name="task" id="" class="form-control" placeholder="" aria-describedby="helpId">
                      <small id="helpId" class="text-muted">Enter Task</small><br>
                      <input type="submit" value="submit" class="btn btn-primary float-right mb-4">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>